<app-top-bar></app-top-bar>


<div class="container">
  <div class="box-title">
    <p class="title">
      {{boxTitle}}
    </p>
    <button type="button" class="btn">Back to Home</button>
  </div>
  <!--  // end box-title -->

  <form>
    <div class="form-box">
      <div class="col-4">
        <div>
          <label for="amount">Amount</label>
          <input type="number" id="amount"/>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-5">
            <label>From</label>
            <select>
              <option selected>EUR</option>
            </select>
          </div>
          <div class="col-2"></div>
          <div class="col-5">
            <label>To</label>
            <select>
              <option selected>USD</option>
            </select>
          </div>
        </div>

        <button type="submit" class="btn-converter btn">Convert</button>
      </div>

    </div>
  </form>
  <!--  // end form-box -->
</div>


